body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffe6f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

main {
  padding: 15px;
}

.header {
  padding: 20px;
  font-size: 48px;
  background-color: #FF69B4;
  color: white; 
}

footer {
  margin-top: auto;
  background-color: #FF69B4;
  color: white; 
}

.nav-item {
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

#updated-photo img {
  object-fit: contain;
  height: 300px;
  width: 300px;
}

.projectImage {
  background-size: auto;
  height: 400px;
  width: 600px;
  border: solid 5px #046307;
}

.projectImage:hover {
  border: solid 5px #FF69B4;
}