body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffe6f7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

main {
  padding: 15px;
}

.header {
  padding: 20px;
  font-size: 48px;
  background-color: #FF69B4;
  color: white; 
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #FF69B4;
  color: white; 
}

.footer-links {
  text-decoration: none;
  color: white;
}

.nav-item {
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

a.nav-link {
  text-decoration: none;
  color: white;
}

#updated-photo img {
  object-fit: contain;
  height: 300px;
  width: 100%;
}

.projectImage {
  background-size: auto;
  height: 400px;
  width: 600px;
  border: solid 5px #046307;
}

.projectImage:hover {
  border: solid 5px #FF69B4;
}

.btn {
  width: 100%;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#resume-link {
  text-decoration: none;
  color: #FF69B4;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  border: 3px solid #FF69B4;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 25%;
}

.projects a {
  color: black;
  text-decoration: none;
  padding-top: 5px;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.about-info {
  flex-basis: 75%;
}

@media screen and (max-width: 420px) {
  .projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 25%;
  }

  .projectImage {
    height: 200px;
    width: 350px;
  }
}